@page "/settings"
@using ManekiApp.Server.Models
@attribute [Authorize]
@*TODO: restrict access until the account is verified*@
<PageTitle>Profile</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12">
            <RadzenText Text="Settings" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0"/>
        </RadzenColumn>
    </RadzenRow>

    <RadzenTabs @bind-SelectedIndex=@selectedIndex>
        <Tabs>
            <RadzenTabsItem Text="Password">
                <RadzenRow>
                    <RadzenColumn SizeMD="12">
                        <RadzenTemplateForm Method="post" Submit="@FormSubmit" TItem="ApplicationUser" Data="@user"
                                            Visible="@(user != null)">
                            <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Title="Cannot change password" Visible="@errorVisible" Style="border-radius: 10px">@error</RadzenAlert>
                            <RadzenAlert Size="AlertSize.Large" Shade="Shade.Light" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Visible="@successVisible" Style="border-radius: 10px">
                                Your password has been changed.
                            </RadzenAlert>

                            <RadzenRow style="margin-bottom: 1rem">
                                <RadzenColumn SizeMD="3">
                                    <RadzenLabel Component="OldPassword" style="width: 100%" Text="Old Password"/>
                                </RadzenColumn>
                                <RadzenColumn SizeMD="9">
                                    <RadzenPassword @bind-Value="@oldPassword" style="display: block; width: 100%; border-radius: 10px"
                                                    Name="OldPassword"/>
                                    <RadzenRequiredValidator Component="OldPassword" Text="Enter your current password"/>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow style="margin-bottom: 1rem">
                                <RadzenColumn SizeMD="3">
                                    <RadzenLabel Component="NewPassword" style="width: 100%" Text="New Password"/>
                                </RadzenColumn>
                                <RadzenColumn SizeMD="9">
                                    <RadzenPassword @bind-Value="@newPassword" style="display: block; width: 100%; border-radius: 10px"
                                                    Name="NewPassword"/>
                                    <RadzenRequiredValidator Component="NewPassword" Text="Enter your new password"/>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow style="margin-bottom: 1rem">
                                <RadzenColumn SizeMD="3">
                                    <RadzenLabel Component="ConfirmPassword" style="width: 100%" Text="Confirm password"/>
                                </RadzenColumn>
                                <RadzenColumn SizeMD="9">
                                    <RadzenPassword @bind-Value="@confirmPassword" style="display: block; width: 100%; border-radius: 10px"
                                                    Name="ConfirmPassword"/>
                                    <RadzenRequiredValidator Component="ConfirmPassword" Text="Confirm your new password"/>
                                    <RadzenCompareValidator Component="ConfirmPassword" Text="Passwords should be the same" Value="@newPassword"/>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                                <RadzenButton Text="Cancel" Variant="Variant.Flat" Shade="Shade.Light" Style="background-color: #d1d8e1; width: 144px; border-radius: 10px; border: 1px solid #949aa4; color: #000000" />

                                <RadzenButton ButtonType="ButtonType.Submit" Text="Change password" Variant="Variant.Flat" Style="background-color: #58a45b; border: 1px solid #356d37; border-radius: 10px"/>
                            </RadzenStack>
                        </RadzenTemplateForm>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Telegram">
                <RadzenRow>
                    <RadzenRow>
                        <p class="alert alert-info small">
                            Please send any message to our
                            <a href="https://t.me/maneki_pract_bot" target="_blank">bot</a>,
                            it will provide you with a unique code. Please enter that code in the 'Security Code' field below
                            to verify and confirm your account.
                        </p>
                    </RadzenRow>
                    <RadzenRow class="w-100 rz-justify-content-center">
                        <RadzenStack>
                            <RadzenCard>
                            <RadzenText Text="Security Code" TextStyle="TextStyle.Subtitle2"
                                        TagName="TagName.H3"/>
                            <RadzenSecurityCode Count="6" Type="SecurityCodeType.Numeric" @bind-Value="code"></RadzenSecurityCode>
                            </RadzenCard>
                            <RadzenButton Size="ButtonSize.Medium" Click="@(args => CheckCode())" Text="Check Confirmation Code">
                            </RadzenButton>
                            <p>@($"{code}")</p>
                        </RadzenStack>
                    </RadzenRow>
                </RadzenRow>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</RadzenStack>

@code {
    int selectedIndex = 0;
}