@page "/my-subscriptions"
@attribute [Authorize]

<PageTitle>My Subscriptions</PageTitle>
<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenText Text="My Subscriptions" TextStyle="TextStyle.H3" TagName="TagName.H1" />
    </RadzenColumn>

    <RadzenRow class="w-100">
        @foreach (var subscription in userSubscriptions)
        {   
            var subscriptionType = GetSubscriptionTitle(subscription.SubscriptionId);
            var subscriptionPrice = GetSubscriptionPrice(subscription.SubscriptionId);
            var subscriptionAuthor = GetSubscriptionAuthor(subscription.SubscriptionId);
            var authorPageUrl = GetAuthorPage(subscription.SubscriptionId);
            var authorProfilePicture = GetAuthorProfilePicture(subscription.SubscriptionId);
            
            <div style="cursor: pointer;" class="w-100" onclick="@(() => NavigateToAuthorPage($"/author-page/{authorPageUrl}"))">
                <UserSubscriptionCard
                    ImagePath="@(authorProfilePicture)"
                    ImageAltText="Author Avatar"
                    AuthorName=@(subscriptionAuthor)
                    Status=@($"{(subscription.IsCanceled ? "Canceled" : "Active")}")
                    StartDate=@($"{subscription.SubscribedAt}")
                    EndDate=@($"{subscription.EndsAt}")
                    SubscriptionType=@(subscriptionType)
                    SubscriptionPrice=@(subscriptionPrice)
                    RadzenBadgeStyle="@(GetGradientColor(subscription))"
                    RecieveNotifications="@(subscription.ReceiveNotifications)"
                    CancelSubscription="@(() => CancelSubscription(subscription))"
                    EnableNotifications="@(() => EnableNotifications(subscription))"
                    DisableNotifications="@(() => DisableNotifications(subscription))"/>
            </div>
        }
    </RadzenRow>
    
     <RadzenColumn Size="12" Visible="@(!userSubscriptions.Any())">
        <RadzenText Text="You have no active subscriptions at the moment." TextStyle="TextStyle.H4" ></RadzenText>
     </RadzenColumn>
</RadzenRow>